@font-face {
    font-family: "iconfont"; /* Project id 3044313 */
    src: url('//at.alicdn.com/t/font_3044313_yn7apo8cz.woff2?t=1640136521749') format('woff2'),
         url('//at.alicdn.com/t/font_3044313_yn7apo8cz.woff?t=1640136521749') format('woff'),
         url('//at.alicdn.com/t/font_3044313_yn7apo8cz.ttf?t=1640136521749') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .u-icon-bottom:before {
    content: "\e69a";
  }
  
  .u-icon-arrowleft:before {
    content: "\e613";
  }
  
  .u-icon-arrowright:before {
    content: "\e616";
  }
  
  .u-icon-add:before {
    content: "\e61b";
  }
  
  .u-icon-spread:before {
    content: "\e61d";
  }
  
  .u-icon-eye:before {
    content: "\e61e";
  }
  
  .u-icon-import:before {
    content: "\e621";
  }
  
  .u-icon-user:before {
    content: "\e624";
  }
  
  .u-icon-arrowsright:before {
    content: "\e628";
  }
  
  .u-icon-arrowsleft:before {
    content: "\e629";
  }
  
  .u-icon-sort:before {
    content: "\e61c";
  }
  
  .u-icon-refresh:before {
    content: "\e630";
  }
  
  .u-icon-down:before {
    content: "\e64f";
  }
  
  .u-icon-top:before {
    content: "\e653";
  }
  
  .u-icon-search:before {
    content: "\e63a";
  }
  
  .u-icon-edit:before {
    content: "\e614";
  }
  
  .u-icon-data:before {
    content: "\e654";
  }
  
  .u-icon-delete:before {
    content: "\e605";
  }
  
  .u-icon-up:before {
    content: "\e699";
  }
  