@import "../theme/variables.less";

.ht-button {
    display: inline-block;
    padding: @button-padding;
    border-radius: @button-border-radius;
    border: 1px solid @button-border-color;
    background: @button-background-color;
    font-size: @button-font-size;
    color: @button-font-color;
    text-align: center;
    line-height: 1.7;
    cursor: pointer;
    &-default {}
    &-primary {
        background: @button-background-color-primary;
        border-color: @button-background-color-primary;
        color: @button-font-color-white;
    }
    &-success {
        background: @button-background-color-success;
        border-color: @button-background-color-success;
        color: @button-font-color-white;
    }
    &-info {
        background: @button-background-color-info;
        border-color: @button-background-color-info;
        color: @button-font-color-white;
    }
    &-warning {
        background: @button-background-color-warning;
        border-color: @button-background-color-warning;
        color: @button-font-color-white;
    }
    &-danger {
        background: @button-background-color-danger;
        border-color: @button-background-color-danger;
        color: @button-font-color-white;
    }
    &-text {
        background: @button-background-color-text;
        border-color: @button-background-color-text;
        color: @button-font-color-blue;
    }
    &-small{
        padding: @button-padding-small;
        font-size: @button-font-size-small;
    }
    &-normal{}
    &-big{
        font-size: @button-font-size-big;
    }
    &-huge{
        padding: @button-padding-huge;
        font-size: @button-font-size-huge;
    }
    &-full{
        width: 100%;
    }
    &-disabled{
        background: @button-background-color-disabled;
        border-color: @button-background-color-disabled;
        color: @button-font-color-grey;
        cursor: not-allowed;
    }
}