@import "../theme/variables.less";

.ht-button {
    display: inline-block;
    padding: @button-padding;
    border-radius: @button-border-radius;
    border: 1px solid @button-border-color;
    background: @button-background-color;
    font-size: @button-font-size;
    color: @button-font-color;
    text-align: center;
    line-height: 1.7;
    cursor: pointer;
    .button-type(@backgroundColor, @borderColor, @Color: @button-font-color-white) {
        background: @backgroundColor;
        border-color: @borderColor;
        color: @Color;
    }
    .button-size(@padding, @borderRadius: @button-border-radius, @fontSize) {
        padding: @padding;
        border-radius: @borderRadius;
        font-size: @fontSize;
    }

    &-default {}
    &-primary {
        .button-type(@button-background-color-primary, @button-background-color-primary);
    }
    &-success {
        .button-type(@button-background-color-success, @button-background-color-success);
    }
    &-info {
        .button-type(@button-background-color-info, @button-background-color-info);
    }
    &-warning {
        .button-type(@button-background-color-warning, @button-background-color-warning);
    }
    &-danger {
        .button-type(@button-background-color-danger, @button-background-color-danger);
    }
    &-text {
        .button-type(@button-background-color-text, @button-background-color-text, @button-font-color-blue);
    }

    &-normal{}
    &-small{
        .button-size(@button-padding-small, @button-border-radius, @button-font-size-small);
    }
    &-big{
        .button-size(@button-padding, @button-border-radius-big, @button-font-size-big);
    }
    &-huge{
        .button-size(@button-padding-huge, @button-border-radius-huge, @button-font-size-huge);
    }
    &-full{
        width: 100%;
    }
    &-disabled{
        cursor: not-allowed;
        opacity: 0.5;
    }
}
.ht-button+.ht-button {
    margin-left: @button-margin-button;
}