@import "../theme/variables.less";

.ht-tree { 
    font-size: @font-size;
    line-height: @line-height;
    color: @normal-color;
    .item{
        &:hover, &-checked{
            background: fade(@disabled-color, 20)
        }
        &-1{
            padding-left: @tree-padding;
        }
        &-2{
            padding-left: @tree-padding * 2;
        }
        &-3{
            padding-left: @tree-padding * 3;
        }
    }
    .icon{
        &-hide{
            opacity: 0;
        }
        &-spread{
            transform: rotate(90deg);
        }
        &-disabled{
            cursor: not-allowed;
            opacity: .5;
        }
    }
}