@import "../theme/variables.less";

.ht-input{
    position: relative;
    .input, .textarea{
        width: 100%;
        padding: @input-padding-top @input-padding-left;
        border: 1px solid @input-border-color;
        border-radius: @input-border-radius;
        box-sizing: border-box;
        background: @input-background-color;
        font-size: @input-font-size;
        line-height: @input-line-height;
        color: @input-color;
        &-number{
            padding-right: 0;
        }
        &-disabled{
            color: @input-disabled-color;
        }
        &:focus{
            border-color: @input-focus-border-color;
            box-shadow: 0 0 0 2px fade(@input-focus-border-color, 20%);
        }
    }
    .action{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 0;
        color: @input-action-color;
        line-height: 34px;
        font-size: 12px;
        &-1{
            left: auto;
            right: 5px;
        }
    }
}