@import "../theme/variables.less";

.ht-badge {
    display: inline-block;
    padding: @badge-padding-top @badge-padding-left;
    border-radius: @badge-radius;
    border: 1px solid @badge-background-color;
    background: @badge-background-color;
    box-sizing: border-box;
    font-size: @badge-font-size;
    line-height: @badge-line-height;
    color: @badge-color;
}