@import "../theme/variables.less";

.ht-form-item{
    line-height: @line-height-normal;
    .form-label{
        font-size: @font-size;
        color: @normal-color;
    }
    .form-content{
        position: relative;
        .message{
            position: absolute;
            left: 0;
            top: 100%;
            line-height: 1.8;
            white-space: nowrap;
        }
    }
    &-position-left, &-position-right{
        display: flex;
        flex-direction: row;
        .form-label .label-cnt {
            margin: 0 @form-item-label-margin 0 0;
        }
        .form-content{
            flex: 1;
        }
    }
    &-position-right{
        .form-label {
            text-align: right;
        }
    }
    &-size-small{
        line-height: @line-height-small;
        .form-label{
            font-size: @font-size-mini;
        }
    }
    &-error{
        :deep(.ht-input input), :deep(.ht-input textarea), :deep(.ht-input input:focus), :deep(.ht-input textarea:focus){
            border-color: @error-color;
        }
        :deep(.ht-input input:focus), :deep(.ht-input textarea:focus){
            box-shadow: 0 0 0 2px fade(@error-color, 20%);
        }
    }
}