@import "../theme/variables.less";

.ht-select{
    position: relative;
    outline: none;
    .input-readonly{
        cursor: pointer;
    }
    .input-disabled{
        cursor: not-allowed;
    }
    .list{
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        max-height: @line-height-normal*5;
        border: @select-options-border;
        border-radius: @border-radius;
        background: @base-color;
        box-shadow: @select-options-box-shadow;
        overflow-y: auto;
        opacity: 0;
        &-top{
            bottom: 100%;
            transform: translateY(-5px);
        }
        &-bottom{
            top: 100%;
            transform: translateY(5px);
        }
        &-show{
            z-index: 99;
            opacity: 1;
        }
    }
    .item{
        display: flex;
        flex-direction: row;
        padding: 0 @select-option-padding;
        margin: 0 0 1px;
        color: @normal-color;
        font-size: @font-size;
        line-height: @line-height-normal;
        &:hover{
            background: fade(@normal-color, 6%);
        }
        &-select{
            background: fade(@normal-color, 6%);
            color: @active-color;
        }
        &-disabled{
            color: @disabled-color;
            cursor: not-allowed;
            &:hover{
                background: none;
            }
        }
        &-empty{
            padding-top: @line-height-normal * 0.5;
            padding-bottom: @line-height-normal * 0.5;
            color: @disabled-color;
            &:hover{
                background: none;
            }
        }
    }
    &-small{
        .list{
            max-height: @line-height-small*5;
        }
        .item{
            font-size: @font-size-mini;
            line-height: @line-height-small;
            &-empty{
                padding-top: @line-height-small * 0.5;
                padding-bottom: @line-height-small * 0.5;
            }
        }
    }
}