@import "../theme/variables.less";

.ht-select{
    position: relative;
    outline: none;
    .input-readonly{
        cursor: pointer;
    }
    .input-disabled{
        cursor: not-allowed;
    }
    .list{
        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;
        width: 100%;
        max-height: @select-option-line-height*5;
        border: @select-options-border;
        border-radius: @select-options-border-radius;
        background: @select-options-background-color;
        box-shadow: @select-options-box-shadow;
        overflow-y: auto;
        transform: translateY(8px);
        opacity: 0;
        &-show{
            z-index: 99;
            opacity: 1;
        }
    }
    .item{
        display: flex;
        flex-direction: row;
        padding: 0 @select-option-padding;
        margin: 0 0 1px;
        color: @select-option-color;
        font-size: @select-option-font-size;
        line-height: @select-option-line-height;
        &:hover{
            background: fade(@select-option-color, 6%);
        }
        &-select{
            background: fade(@select-option-color, 6%);
            color: @select-option-active-color;
        }
        &-disabled{
            color: @select-option-disabled-color;
            cursor: not-allowed;
            &:hover{
                background: none;
            }
        }
        &-empty{
            padding-top: @select-option-line-height * 0.5;
            padding-bottom: @select-option-line-height * 0.5;
            color: @select-option-disabled-color;
            &:hover{
                background: none;
            }
        }
    }
}