@import "../theme/variables.less";

.ht-form-page{
    line-height: @page-form-line-height;
    &-inline .main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        :deep(.ht-form-item){
            margin-right: @form-items-margin;
        }
    }
}