@import "../theme/variables.less";

.ht-upload{
    .input{
        display: none;
    }
    .tips{
        font-size: @font-size-small;
        color: @info-color;
        line-height: @line-height;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    }
    .btn{
        width: 100%;
    }
    .item{
        .content{
            position: relative;
            display: flex;
            justify-content: center;
            min-width: @upload-img-height;
            height: @upload-img-height;
            background: @base-color;
            border-radius: @border-radius;
            border: 1px dashed fade(@info-color, 50);
            overflow: hidden;
            .tools{
                position: absolute;
                left: 0;
                bottom: -36px;
                width: 100%;
                background: fade(@normal-color, 70);
                color: @base-color;
            }
            .tag{
                position: absolute;
                right: 0;
                top: 0;
            }
            &-disabled{
                background: fade(@info-color, 15);
                cursor: not-allowed;
            }
            &:hover{
                .tools{
                    bottom: 0;
                }
            }
            &-1{
                aspect-ratio: 1;
                &:hover{
                    background: fade(@info-color, 15);
                }
            }
            &-2{
                background: fade(@info-color, 15);
            }
        }
        .fileName{
            width: @upload-img-height;
            margin: 5px auto;
        }
    }
    &-small{
        .tips{
            font-size: @font-size-mini;
        }
        .item{
            .content{
                min-width: @upload-img-height * 0.75;
                height: @upload-img-height * 0.75;
                .fileName{
                    width: @upload-img-height * 0.75;
                }
            }
        }
    }
}