@normal-color: #444;
@active-color: #1677FF;
@base-color: #fff;
@success-color: #67c23a;
@info-color: #999;
@strong-color: #f90;
@error-color: #f00;
@disabled-color: #ccc;
@font-size: 14px;
@font-size-small: 13px;
@line-height: 1.8;
@border-radius: 4px;

// header
@header-height: 60px;
@header-box-shadow: 0 2px 5px fade(@active-color, 30);
@header-logo-text-size: 16px;

// button
@button-height: 36px;
@button-height-small: 24px;
@button-height-big: 40px;
@button-height-huge: 50px;

@button-border-radius: 4px;
@button-border-radius-small: 2px;
@button-border-radius-huge: 6px;

@button-background-color: fade(@active-color, 15);
@button-background-color-primary: @active-color;
@button-background-color-success: @success-color;
@button-background-color-info: @info-color;
@button-background-color-warning: @strong-color;
@button-background-color-error: @error-color; 
@button-background-color-text: @base-color;
@button-background-color-disabled: @disabled-color;

@button-margin-button: 15px;
@button-font-size-small: 12px;
@button-font-size-huge: 18px;

// bread-crumb
@bread-crumb-separator-font-size: 12px;
@bread-crumb-separator-color: fade(@info-color, 30);

// badge
@badge-padding-top: 0;
@badge-padding-left: 7px;
@badge-radius: 10px;
@badge-font-size: 12px;
@badge-line-height: 19px;

// tag
@tag-padding-top: 0;
@tag-padding-left: 10px;
@tag-radius: 4px;
@tag-border-color: fade(@info-color, 20);
@tag-font-size: 13px;
@tag-line-height: 30px;

// popover
@popover-width: 300px;
@popover-padding: 10px 15px;
@popover-border-radius: 4px;
@popover-border-color: fade(@info-color, 20);
@popover-box-shadow: 0 2px 12px 0 fade(@info-color, 20);
@popover-split-padding: 10px;
@popover-arrow-position: 30px;

// tooltip
@tooltip-padding: 10px 12px;
@tooltip-font-size: 12px;
@tooltip-line-height: 1.2;

// input
@input-padding-top: 0;
@input-padding-left: 10px;
@input-border-color: fade(@info-color, 20);
@input-border-radius: 4px;
@input-focus-border-color: fade(@active-color, 80);
@input-line-height: 36px;
@input-textarea-line-height: 1.6;
@input-disabled-background-color: fade(@disabled-color, 35);
@input-action-font-size: 12px;

// radio
@radio-padding-right: 20px;

// switch
@switch-width: 40px;
@switch-height: 22px;
@switch-padding: 2px;

// select
@select-options-border: 1px solid fade(@info-color, 20);
@select-options-border-radius: 4px;
@select-options-box-shadow: 0 2px 12px 0 fade(@info-color, 20);
@select-option-padding: 15px;
@select-option-line-height: 36px;

// upload
@upload-img-height: 100px;
@upload-img-border-radius: 4px;

// form-item
@form-item-label-margin: 12px;
@form-item-line-height: 36px;

// form
@form-items-margin: 15px;

// pager
@pager-font-size: 13px;
@pager-line-height: 28px;
@pager-icon-font-size: 12px;
@pager-item-width: 30px;
@pager-item-border-radius: 2px;

// action
@action-margin: 10px;
@action-line-height: 30px;

// loading
@loading-circular-width: 42px;

// empty
@empty-padding: 50px;
@empty-content-margin: 15px;

// toast
@toast-padding: 10px 20px;
@toast-border-radius: 4px;

// dialog
@dialog-min-width: 420px;
@dialog-max-width: 80vw;
@dialog-max-height: 80vh;
@dialog-padding: 20px 30px;
@dialog-background: rgba(0, 0, 0, 0.5);
@dialog-border-radius: 4px;
@dialog-border-color: fade(@info-color, 20);
@dialog-box-shadow: 0 2px 12px 0 fade(@info-color, 20);

// tree
@tree-padding: 22px;