// tab
@tab-font-size: 14px;
@tab-line-height: 2;
@tab-color: #444;
@tab-active-color: #1274a8;
@tab-active-border-radius: 5px;

// header
@header-height: 60px;
@header-background-color: #fff;
@header-box-shadow: 0 2px 5px rgb(197 217 232 / 50%);
@header-logo-text-size: 16px;

// button
@button-padding: 8px 25px;
@button-padding-small: 4px 8px;
@button-padding-huge: 10px 35px;

@button-border-radius: 4px;
@button-border-radius-big: 8px;
@button-border-radius-huge: 10px;
@button-border-color: rgba(22, 119, 255, 0.2);

@button-font-size: 14px;
@button-font-size-small: 12px;
@button-font-size-big: 18px;
@button-font-size-huge: 20px;

@button-font-color: #46484D;
@button-font-color-white: #fff;
@button-font-color-blue: #1677FF;
@button-font-color-grey: #999;

@button-background-color: rgba(22, 119, 255, 0.1);
@button-background-color-primary: #1677FF;
@button-background-color-success: #67c23a;
@button-background-color-info: #909399;
@button-background-color-warning: #e6a23c;
@button-background-color-danger: #f56c6c;
@button-background-color-text: transparent;
@button-background-color-disabled: #efefef;

@button-margin-button: 15px;

// bread-crumb
@bread-crumb-font-size: 14px;
@bread-crumb-line-height: 2;
@bread-crumb-color: #999;
@bread-crumb-active-color: #333;
@bread-crumb-separator-font-size: 12px;
@bread-crumb-separator-color: #dcdee2;

// badge
@badge-padding-top: 0;
@badge-padding-left: 7px;
@badge-radius: 10px;
@badge-background-color: #f90;
@badge-font-size: 12px;
@badge-line-height: 20px;
@badge-color: #fff;

// tag
@tag-padding-top: 0;
@tag-padding-left: 10px;
@tag-radius: 4px;
@tag-border-color: #eaebf3;
@tag-background-color: #fff;
@tag-font-size: 13px;
@tag-line-height: 30px;
@tag-color: #808695;
@tag-active-border-color: #595a6f;
@tag-active-background-color: #595a6f;
@tag-active-color: #fff;

// popover
@popover-width: 300px;
@popover-padding: 10px 15px;
@popover-border-radius: 4px;
@popover-border-color: #efefef;
@popover-background-color: #fff;
@popover-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
@popover-color: #333;
@popover-font-size: 14px;
@popover-line-height: 1.8;
@popover-split-padding: 10px;
@popover-arrow-position: 30px;

// tooltip
@tooltip-padding: 10px 12px;
@tooltip-font-size: 12px;
@tooltip-line-height: 1.2;

// avatar
@avatar-background-color: #f90;
@avatar-color: #fff;

// input
@input-padding-top: 0;
@input-padding-left: 10px;
@input-border-color: #dcdee2;
@input-border-radius: 4px;
@input-focus-border-color: #57a3f3;
@input-background-color: #fff;
@input-font-size: 14px;
@input-line-height: 40px;
@input-textarea-line-height: 1.6;
@input-color: #333;
@input-disabled-color: #ccc;
@input-disabled-background-color: rgba(0,0,0,.02);
@input-action-color: #ccc;
@input-action-font-size: 12px;

// radio
@radio-padding-right: 20px;
@radio-font-size: 14px;
@radio-color: #494949;
@radio-active-color: #57a3f3;
@radio-disabled-color: #ccc;

// switch
@switch-width: 40px;
@switch-height: 22px;
@switch-padding: 2px;
@switch-background-color: #dcdfe6;
@switch-active-background-color: #57a3f3;
@switch-circle-background-color: #fff;

// select
@select-options-max-height: 175px;
@select-options-border: 1px solid #ebeef5;
@select-options-border-radius: 4px;
@select-options-background-color: #fff;
@select-options-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
@select-option-padding: 15px;
@select-option-color: #606266;
@select-option-active-color: #57a3f3;
@select-option-disabled-color: #ccc;
@select-option-font-size: 14px;
@select-option-line-height: 40px;

// form-item
@form-item-label-margin: 12px;
@form-item-line-height: 40px;
@form-item-font-size: 14px;
@form-item-color: #606266;
@form-item-error-color: #f00;

// form
@form-items-margin: 15px;

// pager
@pager-font-size: 13px;
@pager-line-height: 28px;
@pager-color: #303133;
@pager-active-color: #409eff;
@pager-icon-font-size: 12px;
@pager-item-width: 30px;
@pager-item-margin: 5px;
@pager-item-border-radius: 2px;

// page-form
@page-form-line-height: 1.8;
