@import "../theme/variables.less";

.ht-tab {
    display: flex;
    flex-direction: row;
    font-size: @tab-font-size;
    line-height: @tab-line-height;
    color: @tab-color;
    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        .label{
            flex: 1;
            white-space: nowrap;
        }
        .u-icon{
            transform: rotate(0deg);
        }
        &-curr{
            color: @tab-active-color;
            .u-icon{
                transform: rotate(180deg);
            }
        }
    }
    .child{
        padding: 10px 20px 10px 60px;
        &-curr{
            color: @tab-active-color;
            background-color: @tab-active-bg-color;
        }
    }
    &-column{
        flex-direction: column;
    }
}