@import "../theme/variables.less";

.ht-tab {
    display: flex;
    flex-direction: row;
    font-size: @font-size;
    line-height: 2;
    color: @normal-color;
    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        .label{
            flex: 1;
            white-space: nowrap;
        }
        &-curr{
            border-radius: @border-radius;
            background: fade(@active-color, 15%);
            color: @active-color;
            .icon{
                transform: rotate(180deg);
            }
        }
    }
    .child{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        text-align: center;
        &-curr{
            border-radius: @border-radius;
            background: fade(@active-color, 15%);
            color: @active-color;
        }
    }
    &-column{
        flex-direction: column;
        .child{
            padding: 10px 20px 10px 60px;
            text-align: left;
        }
    }
}