@import "../theme/variables.less";

.ht-pager {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: @pager-font-size;
  line-height: @pager-line-height;
  color: @normal-color;
  .total, .jumper{
    color: fade(@normal-color, 75);
  }
  .item{
    min-width: @pager-item-width;
    border-radius: @pager-item-border-radius;
    box-sizing: border-box;
    &:hover, &-active {
      color: @active-color;
    }
  }
  .u-icon {
    font-size: @pager-icon-font-size;
  }
}
