@font-face {
  font-family: "u-icon"; /* Project id 3044313 */
  src: url('//at.alicdn.com/t/font_3044313_eppt5uphl9b.woff2?t=1651652081669') format('woff2'),
       url('//at.alicdn.com/t/font_3044313_eppt5uphl9b.woff?t=1651652081669') format('woff'),
       url('//at.alicdn.com/t/font_3044313_eppt5uphl9b.ttf?t=1651652081669') format('truetype');
}

.u-icon {
  font-family: "u-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-user:before {
  content: "\e63c";
}

.u-icon-search:before {
  content: "\e603";
}

.u-icon-edit:before {
  content: "\e8ac";
}

.u-icon-arrowLeft:before {
  content: "\ec1b";
}

.u-icon-arrowDown:before {
  content: "\ec1c";
}

.u-icon-arrowUp:before {
  content: "\ec1d";
}

.u-icon-arrowsDown:before {
  content: "\ec1e";
}

.u-icon-arrowsUp:before {
  content: "\ec1f";
}

.u-icon-arrowsRight:before {
  content: "\e604";
}

.u-icon-arrowRight:before {
  content: "\e70f";
}

.u-icon-arrowsLeft:before {
  content: "\ec1a";
}

.u-icon-calendar:before {
  content: "\e8cf";
}

.u-icon-recruit:before {
  content: "\e613";
}

.u-icon-article:before {
  content: "\e67c";
}

.u-icon-notice:before {
  content: "\e651";
}

.u-icon-finance:before {
  content: "\e718";
}

.u-icon-wx:before {
  content: "\e733";
}

.u-icon-news:before {
  content: "\e8ae";
}

.u-icon-checkboxHalfChecked:before {
  content: "\e8e0";
}

.u-icon-checkboxDisabled:before {
  content: "\e660";
}

.u-icon-info:before {
  content: "\e602";
}

.u-icon-success:before {
  content: "\e601";
}

.u-icon-warning:before {
  content: "\e650";
}

.u-icon-error:before {
  content: "\e87c";
}

.u-icon-moveRight:before {
  content: "\ec16";
}

.u-icon-moveLeft:before {
  content: "\e612";
}

.u-icon-download:before {
  content: "\e8c6";
}

.u-icon-delete:before {
  content: "\e74b";
}

.u-icon-close:before {
  content: "\e8b6";
}

.u-icon-add:before {
  content: "\ec14";
}

.u-icon-exitFullScreen:before {
  content: "\e8fa";
}

.u-icon-fullScreen:before {
  content: "\ec13";
}

.u-icon-star:before {
  content: "\e600";
}

.u-icon-password:before {
  content: "\e64a";
}

.u-icon-more:before {
  content: "\e6ad";
}

.u-icon-select:before {
  content: "\e63e";
}

.u-icon-checkboxCheck2:before {
  content: "\e655";
}

.u-icon-checkbox:before {
  content: "\e618";
}

.u-icon-checkboxCheck:before {
  content: "\e661";
}

.u-icon-radio:before {
  content: "\e694";
}

.u-icon-radioCheck:before {
  content: "\e6a4";
}

.u-icon-hidePreview:before {
  content: "\e617";
}

.u-icon-clear:before {
  content: "\e62a";
}

.u-icon-preview:before {
  content: "\e61e";
}
