@import "../theme/variables.less";

.ht-rich-text {
    border: 1px solid @richText-border-color;
    .preview{
        padding: 15px 25px;
        line-height: @line-height;
        img, video{
            max-width: 100%;
        }
    }
    .toolbar{
        border-bottom: 1px solid @richText-border-color;
    }
    .editor{
        overflow-y: scroll;
        line-height: 1.5;
    }
    li{
        list-style: revert;
    }
    h1, h2, h3, h4, h5, h6{
        font-size: revert;
        font-weight: revert;
    }
}