@import "../theme/variables.less";

.ht-rich-text {
    border: 1px solid @richText-border-color;
    line-height: 1.5;
    .toolbar{
        border-bottom: 1px solid @richText-border-color;
    }
    .editor{
        overflow-y: scroll;
    }
    li{
        list-style: revert;
    }
    h1, h2, h3, h4, h5, h6{
        font-size: revert;
        font-weight: revert;
    }
}